# Copy this file to env.conf or use your preferred env format.
# Replace placeholders before running scripts.
WORKSHOP_NAME=sreinprod
AZURE_LOCATION=eastus2
APP_RESOURCE_GROUP=rg-sreinprod-app
AGENT_RESOURCE_GROUP=rg-sreinprod-agent
APP_NAME=sreinprod-demo-app
APP_URL=sreinprod-demo-app.azurewebsites.net
